<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>SignUp</title>
</head>
<body style="color: white; height: 100vh; background-color: #005a87;">
    <form method='POST' style="text-align: center;;margin: auto; display: flex; justify-content: center; align-items: center; flex-direction: column; position: absolute;left: 50%;;top: 50%; transform: translate(-50%,-50%); ">{% csrf_token %}
        
        {% for field in form %}
        {{field.label}}
        {{field.errors}}
        {{field}}
        {% endfor %}
        <button class='btn btn-success' type='submit' style="margin-top: 20px;">Зарегистрироваться</button>
        <h5 style="margin-top: 10px;">Уже есть аккаунт? <a style="color: aqua;" href="{% url 'login' %}">Войти</a></h5>
    </form>
</body>
</html>